@background-color: #F5F4F1;
@text-color:       #828179;
@brand-color:      #89846C;

@font-face {
	font-family: 'Klartext Mono Light';
	src: url('../fonts/KlartextMono-Light-webfont.eot');
	src: url('../fonts/KlartextMono-Light-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/KlartextMono-Light-webfont.woff2') format('woff2'),
			 url('../fonts/KlartextMono-Light-webfont.woff') format('woff'),
			 url('../fonts/KlartextMono-Light-webfont.ttf') format('truetype'),
			 url('../fonts/KlartextMono-Light-webfont.svg#klartext_monolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	background-color: @background-color;
	-webkit-app-region: drag;
	font-family: "Klartext Mono Light", "Pingfang SC", "Open Sans", "Lantinghei SC";
	overflow: hidden;
}

#content {
	height: 100vh;
	-webkit-app-region: drag;
}

#about {
	padding: 40px 30px;
	// text-align: center;
	font-size: 14px;
	overflow: hidden;
	h1 {
		margin-bottom: 14px;
		color: @brand-color;
		font-size: 14px;
	}
	p {
		margin-bottom: 8px;
		font-size: 12px;
	}
	a {
		color: @brand-color;
		cursor: pointer;
	}
	hr {
		margin: 12px 0;
		border: 0;
		border-top: 1px dashed lighten(@text-color, 10%);
	}
}

#root {
	height: 100%;
}

.app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 0;
	height: 100%;
	padding: 40px 30px;
	overflow: hidden;
}

.logo {
	flex-grow: 0;
	flex-basis: auto;
	width: 18px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 52px;
}

.paper {
	flex-grow: 1;
	flex-basis: 0;
	.editor {
		width: 100%;
		height: 100%;
		font-family: 'Klartext Mono Light', "Pingfang SC", "Open Sans", "Lantinghei SC";
		font-size: 14px;
		font-weight: 200;
		line-height: 21px;
		color: @text-color;
		background-color: @background-color;
		border: 1px solid @background-color;
		outline: 0;
		cursor: text;
		-webkit-app-region: no-drag;
		.DraftEditor-root,
		.DraftEditor-editorContainer,
		.public-DraftEditor-content {
			height: 100%;
		}
	}
}

.at-handle {
	color: #929DE2;
	direction: ltr;
	unicode-bidi: bidi-override;
}

.hashtag-handle {
	color: #60BAC5;
}
